<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="call-list">
    <div class="inline1">
        <p id="call"> Call History </p>
        </div>
        <div class="example" >
            <input type="text" placeholder="Search.." name="search2">
            <button type="submit"><i class="fa fa-search"></i></button>
            </div>

            <div class="call-list1">
            <div class="inline2">
                <img id="icon5" src="assets/images/icon1.svg"height="30px" width="30px">
                <img id="icon4" src="assets/images/icon4.svg"height="30px" width="30px">
                <img id="icon7" src="assets/images/icon6.svg"height="30px" width="30px">
            <div id="num3">
              +412 - 202005
              </div>
              <div id="num4">
                  +412 - 300805
                </div>
                </div><br><br>
                <div class="inline3">
                    <img id="icon5" src="assets/images/icon5.svg"height="30px" width="30px">
                    <img id="icon4" src="assets/images/icon4.svg"height="30px" width="30px">
                    <img id="icon7" src="assets/images/icon7.svg"height="30px" width="30px">
                <div id="num1">
                  +412 - 202005
                  </div>
                  <div id="num2">
                      +412 - 300805
                    </div>
                    </div><br><br>
                    <div class="inline4">
                        <img id="icon5" src="assets/images/icon5.svg"height="30px" width="30px">
                    <img id="icon4" src="assets/images/icon4.svg"height="30px" width="30px">
                    <img id="icon7" src="assets/images/icon7.svg"height="30px" width="30px">
                <div id="num1">
                  +412 - 202005
                  </div>
                  <div id="num2">
                      +412 - 300805
                    </div>
                        </div><br><br>
                        <div class="inline5">
                            <img id="icon5" src="assets/images/icon5.svg"height="30px" width="30px">
                    <img id="icon4" src="assets/images/icon4.svg"height="30px" width="30px">
                    <img id="icon7" src="assets/images/icon7.svg"height="30px" width="30px">
                <div id="num1">
                  +412 - 202005
                  </div>
                  <div id="num2">
                      +412 - 300805
                    </div>
                    </div>
                    </div>
        

        </div>
        
   
  